target/
.env
*.log
.idea/
*.iml
test-reports/*.xml
test-reports/*.html
test-reports/*.json
!test-reports/.gitkeep

# Archivos basura generados por errores de terminal
[ERROR]
[Help
cd
log.txt
reset_admin.groovy
